@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%;
    
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

/* ==========Sch Name========= */
#schname{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#schname h1{
    text-align: center;
    margin: 15px;
    color: rgb(184, 0, 0);
    
}

/* ========NAV=========== */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 0, 117);
    color: white;
}

.brand-title {
    font-size: 1.8rem;
    margin-left: 5rem;
    font-family:  'Montserrat', sans-serif;;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-family:  'Montserrat', sans-serif;;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(120, 155, 207);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/* ================POSTER============== */
#poster{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#poster img{
    margin: 10px;
    width: 100vw;
}

/* ============ABOUT============= */
#about{
    display: flex;
    font-size: 1.1rem;
    word-spacing: 0.15rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about h1{
    color: rgb(15, 0, 153);
    margin: 20px;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}
#content{
    margin: 5px 50px;
}

#list{
    margin-top: 10px;
    margin-left: 10px;
}
/* ==================STAFFS========= */
.stf{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 0, 153);
    font-size: 2.2rem;
    font-weight: bold;
}
#staff{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
#staff span{
    margin-top: 5px;
    text-align: center;
}
.stimg{
    height: 200px;
    object-fit: fill;
}
.stimg img{
    height: 100%;
}   
.f1,.f2,.f3{

    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

/* ===============GALLERY=============== */
#gallery{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gallery h1{
    align-items: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(15, 0, 153);

}
#fnct{
    display: flex;
    align-items: center;
    justify-content: center;
       
}
#fnct img{
    height: 70%;
    width: 70%;
}
.notice{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 0, 153);
    font-size: 2.2rem;
    font-weight: bold;
}
#notice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.news1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 0, 153);
    font-size: 2.2rem;
    font-weight: bold;
}
#news1{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.news2{
    
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 0, 153);
    font-size: 2.2rem;
    font-weight: bold;
}
#news2{
    display: flex;
    justify-content: left;
    
    margin-bottom: 5px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
/* ===================FOOTER=============== */
#footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 180px;
    font-family:'Roboto Slab', serif;
    background-color:rgb(25, 0, 117);
    color: azure;
    align-items: center;
    justify-content: space-evenly;
    
}
#addr{
    margin-left: 10px;
    font-size: .8rem;
}
#contact{
    margin-right: 10px;
    font-size: .8rem;
}